.form-control.ng-touched.ng-invalid{
  border: 1px solid #f83030;
  animation:shake 0.2s ease-in-out;
}
@keyframes shake {
  0% { margin-left: 0%; }
  25% { margin-left: 0.5%; }
  75% { margin-left: -0.5%; }
  100% { margin-left: 0%; }
}
