<!--<ul class="nav nav-pills">-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" [class.active]="viewMode == 'Map' " (click)="viewMode = 'Map' ">Map View</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" [class.active]="viewMode == 'List' " (click)="viewMode = 'List' ">List View</a>-->
<!--  </li>-->
<!--</ul>-->
<!--<div [ngSwitch]="viewMode">-->
<!--  <div *ngSwitchCase="'Map'">Map view content</div>-->
<!--  <div *ngSwitchCase="'List'">List View content</div>-->
<!--  <div *ngSwitchDefault>Otherwise</div>-->
<!--</div>-->
<!--<p>{{tweet.body}}</p>-->
<!--<app-authors></app-authors>-->
<!--<app-courses></app-courses>-->
<!--<like [is-liked]="tweet.isLiked" (change)="tweet.likeButtonChanged($event)"></like><span>{{tweet.likesCount}}</span>-->
<!--<app-zippy title="Shipping Details">-->
<!--  Shipping Details Content-->
<!--</app-zippy>-->
<!--<app-zippy title="Billing Details">-->
<!--  Billing Details Content-->
<!--</app-zippy>-->
<!--<contact-form></contact-form>-->
<!--<app-course-form></app-course-form>-->
<!--<signup-form></signup-form>-->
<course-topics></course-topics>
